.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.position {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.positionSpace {
  display: flex;
  width: 78px;
  height: 78px;
  background-color: white;
  border: 1px solid;
}
.playerpoolcandidate {
  display: flex;
  width: 78px;
  height: 78px;
  background-color: white;
  border: 1px solid;
  margin: 10px;
}
.formationOverlay {
  position: absolute;
  z-index: 1;
}
.formationSelector {
  z-index: 2;
}
.formationSection {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.playerpool {
  display: flex;
  width: 550px;
  height: 500px;
  background-color: white;
  transform: none !important;
}
.playerpoolcontent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  background-color: white;
  justify-content: flex-start;
  align-content: flex-start;
  border: 1px solid;
  transform: none !important;
}
.skillpoints {
  width: 151px;
  height: 94px;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 6px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
